.grid-container {
  
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: minmax(150px; auto);
  grid-gap: 20px;
  grid-template-areas: "header header"  

}
.grid-container > div {
  background-color: whitesmoke;
}




